@import "../node_modules/modern-normalize/modern-normalize.css";

:root {
  line-height: 1.5;
  --main-color: rgb(218, 165, 32);
  --base-color: rgba(25, 25, 25, 0.99);
  --bg-light-color: rgba(35, 35, 35, 0.975);
  --bg-lighter-color: rgba(39, 43, 58, 0.85);
  --bg-alt-color: rgba(59, 59, 72, 0.619);
  --highlight-color: rgba(98, 97, 97, 0.395);
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

body {
  color: white;
  background-image: url("./assets/dark-ocean.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 10px 0;
}

.icon-and-text {
  display: flex;
  gap: 15px;
  align-items: center;
}

header > img {
  width: 80px;
  filter: invert(100%) brightness(1000%)
    drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
}

header > p {
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

dialog {
  padding-bottom: 22px;
  color: white;
  background-color: var(--bg-lighter-color);
  border: none;
  border-radius: 15px;
  box-shadow:
    inset 0 -4px 6px rgba(0, 0, 0, 0.5),
    inset 0 4px 6px rgba(255, 255, 255, 0.2);
}

dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: scale(1);
  @starting-style {
    transform: scale(0.3);
  }
  transition: transform 0.3s ease-out;
}

dialog h1 {
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}

input[type="radio"] {
  accent-color: var(--main-color);
}

.confirm-button {
  align-self: flex-end;
  margin-right: 10px;
  color: white;
  background-color: var(--highlight-color);
  padding: 5px 8px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow:
    inset 0 -1px 2px rgba(0, 0, 0, 0.5),
    inset 0 1px 2px rgba(255, 255, 255, 0.2);
}

.confirm-button:hover {
  background-color: white;
  color: var(--base-color);
}

.confirm-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.confirm-button:focus,
input:focus {
  outline: none;
}

#game-setting {
  width: 350px;
}

#game-setting p {
  font-size: 1.15rem;
}

.form-body {
  margin: 3px 0 15px 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.05rem;
}

.form-body > div:first-child {
  margin-right: 30px;
}

.form-body input,
.form-body label {
  cursor: pointer;
}

#game-setup {
  padding: 15px 50px;
}

#game-setup p {
  font-size: 1.8rem;
}

#setup {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 15px 30px;
  margin: 20px 0;
}

#dock {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-items: center;
  align-items: center;
  gap: 20px;
}

#dock > div:first-child {
  grid-column: 1 / 4;
  font-size: 1.5rem;
}

.docked-ship {
  display: flex;
}

.ship-element {
  border: 4px solid var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.horizontal,
.vertical {
  width: 40px;
  filter: invert(100%) brightness(1000%);
  border: 1.5px solid black;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.move {
  position: absolute;
  transition: transform 0.02s linear;
  align-self: flex-start;
  pointer-events: none;
}

.vertical-ship {
  flex-direction: column;
}

#setup-grid {
  display: grid;
  grid-template-columns: repeat(10, max-content);
  grid-template-rows: repeat(10, max-content);
}

.grid-element {
  border: 1px solid white;
  width: 40px;
  height: 40px;
  transition: background-color 0.2s ease-out;
}

#setup-reset,
#randomize {
  justify-self: center;
  cursor: pointer;
}

#transition,
#repeat {
  min-width: 910px;
  min-height: 280px;
}

#transition h1,
#repeat h1 {
  font-size: 2.5rem;
}

#transition p,
#repeat p {
  font-size: 2rem;
}

#main-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
}

#main-container.no-display {
  display: none;
}

#container-one,
#container-two {
  display: grid;
  gap: 30px;
  justify-items: center;
}

#grid-one,
#grid-two {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(10, max-content);
  grid-template-rows: repeat(10, max-content);
  padding: 20px;
  background-color: var(--bg-lighter-color);
  border: none;
  border-radius: 15px;
  box-shadow:
    inset 0 -4px 6px rgba(0, 0, 0, 0.5),
    inset 0 4px 6px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.unclickable {
  position: relative;
  pointer-events: none;
}

.unclickable::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  cursor: not-allowed;
}

.status-container {
  display: grid;
  justify-items: center;
  gap: 10px;
  padding: 5px 20px 20px 20px;
  background-color: var(--bg-lighter-color);
  border: none;
  border-radius: 15px;
  box-shadow:
    inset 0 -4px 6px rgba(0, 0, 0, 0.5),
    inset 0 4px 6px rgba(255, 255, 255, 0.2);
}

.status-container > div:first-child {
  font-size: 1.3rem;
  font-weight: 500;
}

#status-one,
#status-two {
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
}

.ship-status {
  display: grid;
  grid-auto-flow: column;
}

.status-element {
  width: 20px;
  height: 40px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  transition: background-color 0.3s ease-out;
}

.green {
  background-color: rgba(38, 115, 76, 0.5);
}

.red {
  background-color: rgba(255, 0, 0, 0.5);
}

.yellow {
  background-color: rgba(255, 255, 0, 0.5);
}

footer {
  padding: 3px 0;
  margin-top: 20px;
  font-size: 0.9rem;
}

@media (max-width: 1200px) {
  body {
    background-image: url(./assets/dark-ocean-tablet.jpg);
  }

  #main-container {
    justify-content: center;
  }

  #transition,
  #repeat {
    min-width: 600px;
    min-height: 250px;
  }

  #setup {
    row-gap: 20px;
    justify-items: center;
  }

  #dock,
  #setup-grid {
    grid-column: 1 / 3;
  }
}

@media (max-width: 600px) {
  body {
    background-image: url(./assets/dark-ocean-phone.jpg);
  }

  header > img {
    width: 60px;
  }

  header > p {
    font-size: 2.5rem;
  }

  dialog h1 {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .confirm-button {
    font-size: 1rem;
  }

  #game-setting {
    width: 280px;
  }

  #game-setup {
    padding: 15px 30px;
  }

  #game-setup p {
    font-size: 1.3rem;
  }

  #setup {
    gap: 10px;
    margin: 10px 0;
  }

  #dock {
    gap: 10px;
  }

  #dock > div:first-child {
    font-size: 1rem;
  }

  .ship-element {
    border-width: 3px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
  }

  .horizontal,
  .vertical {
    width: 30px;
    border-width: 1.5px;
  }

  .grid-element {
    border-width: 0.75px;
    width: 30px;
    height: 30px;
  }

  #setup-reset,
  #randomize {
    font-size: 0.8rem;
  }

  #transition,
  #repeat {
    min-width: 300px;
    min-height: 150px;
  }

  #transition h1,
  #repeat h1 {
    font-size: 1.3rem;
  }

  #transition p,
  #repeat p {
    font-size: 1rem;
  }

  #main-container {
    row-gap: 25px;
  }

  #container-one,
  #container-two {
    gap: 15px;
  }

  #grid-one,
  #grid-two {
    padding: 10px;
    border-radius: 8px;
  }

  .status-container {
    gap: 5px;
    padding: 3px 10px 10px 10px;
    border-radius: 8px;
  }

  .status-container > div:first-child {
    font-size: 1rem;
  }

  #status-one,
  #status-two {
    gap: 12px;
  }

  .status-element {
    width: 15px;
    height: 30px;
    border-width: 1.5px;
    border-radius: 1.5px;
  }

  footer {
    padding: 3px 0;
    margin-top: 10px;
    font-size: 0.7rem;
  }
}
